#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.songBorder {
  border-bottom: 2px black solid;
}

.listContainer {
  border: 2px black solid;
  margin: 10px
}

